body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2a9b42;
    background: linear-gradient(90deg, rgba(42, 155, 66, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

/* O caracter # indica que o componete é uma id de uma tag*/
#imagem-grande-container{
    width: 900px;
    height: auto;
    margin-bottom:20px;
    border: 2px solid #222;
    display: flex;
    justify-content: center; 
    align-items: center;
}
#imagem-grande{
    max-width: 100%;
    max-height: auto;
    object-fit: contain; /*Garantir que a imagem caiba dentro do container*/
}
#miniaturas-container{
    display: flex;
    gap: 30px;
}
#miniaturas-container img{
    width: 250px;
    height: auto;/*posso optar por auto*/
    object-fit: contain; /*Se a a imagem nao couber ela sera cortada*/
    cursor: pointer;
    border: 3px solid #222;
    transition: transform 0.2s ease-in-out; 
}
#miniatura-container img:houver{
    transform: scale(1.1);
}